section.box
  .box__container.box__container--can
    h1.box__title Pode
    p.box__subtitle Resíduos Orgânicos
    .box__row
      .box__grid
        svg.box__icon
          use(xlink:href="#icon-apple")
          p.box__icon--name Frutas
        svg.box__icon 
          use(xlink:href="#icon-egg")
          p.box__icon--name Casca de Ovo
        svg.box__icon
          use(xlink:href="#icon-paper")
          p.box__icon--name Guardanapo e Papel Toalha
        svg.box__icon 
          use(xlink:href="#icon-seeds")
          p.box__icon--name Grãos e sementes
      .box__grid
        svg.box__icon
          use(xlink:href="#icon-liquid")
          p.box__icon--name Líquidos  
        svg.box__icon
          use(xlink:href="#icon-meat")
          p.box__icon--name Carne e Alimentos Cozidos    
        svg.box__icon
          use(xlink:href="#icon-coffee-paper")
          p.box__icon--name Borra e Filtro de Café
        svg.box__icon
          use(xlink:href="#icon-tea")
          p.box__icon--name Sachê e Folhas de Chá
      .box__grid 
        svg.box__icon
          use(xlink:href="#icon-candy")
          p.box__icon--name Doces 
        svg.box__icon
          use(xlink:href="#icon-leaf")
          p.box__icon--name Folhas Frescas e Secas
        svg.box__icon
          use(xlink:href="#icon-vegetables")
          p.box__icon--name Verduras e Legumes 
        svg.box__icon
          use(xlink:href="#icon-bread")
          p.box__icon--name Pães e Biscoitos
  .box__container.box__container--cant
    h1.box__title Não Pode
    p.box__subtitle Resíduos Recicláveis e Rejeitos
    .box__row
      .box__grid
        svg.box__icon
          use(xlink:href="#icon-glass")
          p.box__icon--name Vidro
        svg.box__icon 
          use(xlink:href="#icon-plastic")
          p.box__icon--name Plástico
        svg.box__icon
          use(xlink:href="#icon-trash")
          p.box__icon--name Lixo de Banheiro
        svg.box__icon 
          use(xlink:href="#icon-skull")
          p.box__icon--name Produtos Químicos
      .box__grid
        svg.box__icon
          use(xlink:href="#icon-gum")
          p.box__icon--name Chiclete  
        svg.box__icon
          use(xlink:href="#icon-metal")
          p.box__icon--name Metal  
        svg.box__icon
          use(xlink:href="#icon-bone")
          p.box__icon--name Ossos e Unhas
        svg.box__icon
          use(xlink:href="#icon-cigarette")
          p.box__icon--name Bituca de Cigarro
      .box__grid 
        svg.box__icon
          use(xlink:href="#icon-medicine")
          p.box__icon--name Remédio 
        svg.box__icon
          use(xlink:href="#icon-paint")
          p.box__icon--name Tintas
        svg.box__icon
          use(xlink:href="#icon-oil")
          p.box__icon--name Óleo, Gordura e Graxa
        svg.box__icon
          use(xlink:href="#icon-leather")
          p.box__icon--name Couro

