section#parceiros.clients
  h1.clients__title Nossos Parceiros 
  h3.clients__subtitle Empresas que nos apoiam nesse Jornada
  .clients__container
    a(href="https://www.instagram.com/alexrestaurante/" target="_blank")
      img.clients__logo(src="./assets/parceiro-alex-restaurante.png", alt="Instagram Alex Restaurante")
    a(href="https://www.instagram.com/alexemcasa/")
      img.clients__logo(src="./assets/parceiro-alex-em-casa.png", alt="Instagram Alex Em Casa")
    a(href="https://www.instagram.com/pub_do_pastel/" target="_blank")
      img.clients__logo(src="./assets/parceiro-pub-do-pastel.png" alt="Instagram Pub Do Pastel")
    a(href="https://www.instagram.com/estudiosemear/" target="_blank")
      img.clients__logo(src="./assets/parceiro-estudio-semear.png" alt="Instagram Estudio Semear")
