section.clients
  h1.clients__title Nossos Parceiros 
  h3.clients__subtitle Empresas que nos apoiam nesse Jornada
  .clients__container
    img.clients__logo(src="./assets/parceiro-alex-restaurante.png", alt="")
    img.clients__logo(src="./assets/parceiro-alex-em-casa.png", alt="")
    img.clients__logo(src="./assets/parceiro-pub-do-pastel.png" alt="")
    img.clients__logo(src="./assets/parceiro-noname.png" alt="")
