section.clients
  h1.clients__title Nossos Parceiros 
  h3.clients__subtitle Empresas que nos apoiam nesse Jornada
  .clients__container
    a.clients__logo(href="https://www.instagram.com/alexrestaurante/")
      img(src="./assets/parceiro-alex-restaurante.png", alt="Instagram Alex Restaurante")
    a.clients__logo(href="https://www.instagram.com/alexemcasa/")
      img(src="./assets/parceiro-alex-em-casa.png", alt="Instagram Alex Em Casa")
    a.clients__logo(href="https://www.instagram.com/pub_do_pastel/")
      img(src="./assets/parceiro-pub-do-pastel.png" alt="Instagram Pub Do Pastel")
    a.clients__logo(href="https://www.instagram.com/estudiosemear/")
      img(src="./assets/parceiro-estudio-semear.png" alt="Instagram Estudio Semear")
