head
  title BioSinergia
  meta(charset='urf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='title' content='BioSinergia')
  meta(name='description' content='Startup ambiental ')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://biosinergia.com.br')
  meta(property='og:title' content='BioSinergia')
  meta(property='og:description' content='Startup ambiental ')
  meta(property='og:image' content='./favicon/favicon-192x192.png')
  meta(property='og:locale' content='pt_BR')
  meta(property='og:site_name' content='BioSinergia')
  meta(property='twitter:url' content='https://biosinergia.com.br')
  meta(property='twitter:title' content='BioSinergia')
  meta(property='twitter:description' content='Startup ambiental ')
  meta(property='twitter:image' content='./favicon/favicon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap', rel='stylesheet')
  link(rel="stylesheet" media="screen" href="./css/styles.scss")
