header.header
  a(href="#hero")
    img.header__logo(src="./assets/logo.svg")
  nav.header__menu
    button#dropdownButton.header__button
    #dropdownMenu.header__dropdown
      a.header__text(href="#comoFunciona") Como Funciona 
      a.header__text(href="#parceiros") Parceiros
      a.header__text(href="#tiposDeDescartes") Tipos de Descartes
      a.header__text(href="#facaParte") Faça Parte
  