header.header
  a(href="#hero")
    img.header__logo(src="./assets/logo.svg")
  nav.header__menu
    button#dropdownButton.header__button
    #dropdownMenu.header__dropdown
      a.header__text(href="#funcionamento") Como Funciona 
      a.header__text(href="#parceiros") Parceiros
      a.header__text(href="#descartes") Tipos de Descartes
      a.header__text(href="#contato") Faça Parte
