header.header
  img.header__logo(src="./assets/logo.svg")
  nav.header__menu
    a.header__text(href="#comoFunciona") Como Funciona 
    a.header__text(href="#parceiros") Parceiros
    a.header__text(href="#tiposDeDescartes") Tipos de Descartes
    a.header__text(href="#façaParte") Faça Parte
    button#dropdownButton.header__button
  