header.header
  a(href="#hero")
    img.header__logo(src="./assets/logo.svg")
  nav.header__menu
    button#dropdownButton.header__button
    #dropdownMenu.header__dropdown
      a.header__text(href="#how") Como Funciona 
      a.header__text(href="#partners") Parceiros
      a.header__text(href="#box") Tipos de Descartes
      a.header__text(href="#footer") Faça Parte
