.box {
  display: flex;
  position: relative;

  @media screen and (min-width: 791px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 790px) {
    flex-direction: column;
  }

  &__container  {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 700px;
    min-width: 50%;
    
    &--can {
      background-color: $white;
    }

    &--cant {
      background-color: $medium-green;
    }
  }

  &__title {
    @media screen and (min-width: 791px) {
      font-size: 50px;
      padding-top: 20px;
    }

    @media screen and (max-width: 790px) {
      font-size: 40px;
      padding-top: 40px;
    }
  }

  &__subtitle {
    font-size: 24px;
    
    @media screen and (min-width: 791px) {
      margin-top: 0;
    }

    @media screen and (max-width:790px) {
      height: 60px;
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
    }
  }
  
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 530px;
    
    @media screen and (min-width: 861px) {
      width: 70%;
    }

    @media screen and (max-width: 860px) {
      width: 90%;
    }
  }

  &__grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
  }

  &__icon {
    height: 30px;
    width: 40px;
  }
  
  &__text {
    display: flex;
    text-align: center;
    height: 60px;

    @media screen and (min-width: 611px) {
      font-size: 16px;
      max-width: 100px;
    }

    @media screen and (max-width: 610px) {
      font-size: 14px;
      max-width: 50px;
    }
  }
  
  &__icon:not(:first-of-type) {
    margin-top: 20px;
  }
}
