.footer {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 50px;
  width: 100%;

  &__content {
    align-self: center;
    display: flex;
    max-width: 1160px;
    
    @media screen and (min-width: 861px) {
      flex-direction: row;
      justify-content: space-between;
      width: 95%;
    }

    @media screen and (max-width: 860px) {
      flex-direction: column;
      width: 80%;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    @media screen and (min-width: 861px) {
      margin-bottom: 140px;
    }

    @media screen and (max-width: 860px) {
      align-self: center;
    }
  }

  &__grid--left {
    @media screen and (min-width: 861px) {
      display: flex;
      align-self: flex-start;
    }
  }

  &__title {

    @media screen and (min-width: 861px) {
      text-align: left;
      font-size: 50px;
      margin-bottom: 0;
    }

    @media screen and (max-width: 860px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    margin-top: 10px;

    @media screen and (min-width: 861px) {
      font-size: 24px;
    }
    
    @media screen and (max-width: 860px) {
      font-size: 20px;
      text-align: center;
    }
  }

  &__grid--right {
    @media screen and (min-width: 861px) {
      align-self: flex-end;
      display: flex;
    }
  }
  
  &__item {
    align-items: center;
    display: flex;
    text-decoration: underline;
    transition: .5s;

    @media screen and (min-width: 861px) {
      flex-direction: row;
    }

    @media screen and (max-width: 860px) {
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  &__item:hover {
    text-decoration: none;
    opacity: .75;
  }

  &__icon {
    height: 25px;
    margin: 15px 35px;
    width: 25px;
  }
  
  &__link {
    @media screen and (min-width: 861px) {
      font-size: 24px;
    }
    
    @media screen and (max-width: 860px) {
      font-size: 20px;
    }
  }

  &__illustration {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 444'%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M1079 .5c170 0 241.46 34.756 330.5 60.5 91.77 26.533 102.82 14.12 136 68 33.98 55.183 70.62 83.477 49 140.5-16.62 43.838-92.18 69.213-109.24 113-23.98 61.514-22.43 61.559-116.85 97.325-91.85 34.794-219.51 49.564-330.58 43.304-98.092-5.529-196.893 5.96-289.988-11.865C643.242 491.236 47.02 513.646-20.5 465.5c-71.224-50.787-34.655-304.326 0-365.5C15.954 35.65 368 147.5 462 129c62.5-14.5 315.5-24 370.5-60.5 74-41 150-67 246.5-68z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    display: flex;
    margin-top: 50px;
    max-height: 500px;
    position: relative;
    width: 100%;
  }

  &__image {
    width: 100%;
    margin: 0 25px 20px;
  }
}
