.hero { 
  display: flex;
  position: relative;
  max-width: 1160px;
  padding: 0 20px;

  @media screen and (min-width: 941px) {
    max-height: 800px;
    margin-top: 160px;
    margin: 160px auto 0;
  }
  
  @media screen and (max-width: 940px) {
    height: 800px;
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  &__desc {
    z-index: 3;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 940px) {
      align-items: center;
      width: 100%;
      margin-top: 70px;
    }
  }

  &__title {
    margin-top: 0;
    
    @media screen and (min-width: 941px) {
      font-size: 70px;
      max-width: 560px;
    }
    
    @media screen and (max-width: 940px) {
      text-align: center;
      font-size: 55px; 
      max-width: 90%;
    }

    @media screen and (max-width: 400px) {
      text-align: center;
      font-size: 40px;
      max-width: 90%;
    }
  }

  &__button {
    background-color: $white;
    color: $dark-green;
  }

  &__button:hover {
    opacity: .80;
  }
  
  &__illustration {
    background-image: url("data:image/svg+xml,%3Csvg width='794' height='759' viewBox='0 0 794 759' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M411.841 725.579C270.551 702.82 87.2371 731.468 20.3109 610.583C-46.9454 489.1 77.0906 362.884 146.197 245.758C206.261 143.959 265.569 40.8869 381.012 -0.751949C522.508 -51.7877 688.363 -77.7206 816.71 3.91251C954.974 91.8524 1034.3 252.661 1023.16 407.674C1012.86 550.925 896.285 661.913 764.485 730.453C657.334 786.175 534.26 745.298 411.841 725.579Z' fill='%23B7C99C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    min-width: 100%;
    right: 0;

    @media screen and (min-width: 941px) {
      top: -100px;
      background-size: contain;
      height: 90%;
      background-position: right top ;
    }

    @media screen and (max-width: 940px) {
      top: 0;
      background-size: cover;
      min-height: 1000px;
    }
  }

  &__icon {
    display: flex;
    max-height: 300px;
    max-width: 500px;
    z-index: 1;
    
    @media screen and (min-width: 941px) {
      position: absolute;
      right: 40px;
      top: 15px;
    }
    
    @media screen and (max-width: 940px) {
      align-self: flex-end;
      margin: auto;
      position: relative;
    }
  }
}
