.how {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  min-height: 200px;
  padding: 0 10px;
  position: relative;
  
  @media screen and (min-width: 941px) {
    margin: 250px auto 150px;
  }

  @media screen and (max-width: 940px) {
    margin: 150px auto 100px;
  }

  &__title {
    font-size: 50px;
    margin: 10px auto 0;
    text-align: center;
  }

  &__step {
    display: flex;
    min-height: 400px;
    width: 100%;
    
    @media screen and (max-width: 940px) {
      flex-direction: column-reverse;
    }
  }

  &__step--row {
    @media screen and (min-width:941px) {
      flex-direction: row;
    }
  }

  &__step--reverse {
    @media screen and (min-width:941px) {
      flex-direction: row-reverse;
    }
  }

  &__step:first-of-type {
    @media screen and (min-width: 941px) {
      margin-top: 145px;
    }

    @media screen and (max-width: 940px) {
      margin-top: 45px;
    }
  }

  &__step:not(:first-of-type) {
    @media screen and (min-width: 941px) {
      margin-top: 100px;
    }

    @media screen and (max-width: 940px) {
      margin-top: 0;
    }
  }

  &__illustration {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    max-width: 450px;
    
    @media screen and (min-width: 941px) {
      width: 100%;
      min-height: 440px;
    }
    
    @media screen and (max-width: 940px) {
      margin: auto;
      width: 70%;
      min-height: 400px;
    }

    @media screen and (max-width: 500px) {
      min-height: 250px;
    }
  }

  &__illustration--left {
    @media screen and (min-width: 941px) {
      margin-right: 110px;
    }
  }

  &__illustration--right {
    @media screen and (min-width: 941px){
      margin-left: 110px;
    }
  }
    
  &__illustration--one {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 446 444'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M217.084 1.70759c41.983 1.75079 83.26 8.13847 119.339 29.68501 38.79 23.1661 73.501 54.2783 91.009 95.9374 18.469 43.944 25.585 95.041 7.852 139.286-17.253 43.045-64.303 62.178-100.309 91.393-38.666 31.376-68.383 90.949-117.891 85.661-50.469-5.39-62.092-76.328-100.917-109.031-34.3957-28.972-95.1469-28.004-111.51083-69.899-16.34367-41.844 19.77823-84.435 34.67563-126.815C53.7717 96.8462 55.7345 47.6095 90.2903 21.1283 125.083-5.53477 173.292-.118626 217.084 1.70759z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");      
  }

  &__illustration--two {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 457 434'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M216.764 46.7538c39.485 4.449 77.333-26.7916 115.648-16.2777 43.685 11.9874 86.861 37.7005 108.086 77.6719 21.536 40.557 20.774 91.815 4.764 134.847-14.822 39.837-60.339 56.476-87.973 88.793-27.92 32.651-32.434 94.834-74.882 101.658-44.201 7.107-68.211-56.242-110.142-71.911-37.145-13.881-85.3759 12.744-115.8902-12.556-30.3617-25.174-24.4373-72.565-33.137-111.005-9.5362-42.135-30.97944-83.458-20.35152-125.332C14.2913 67.7066 38.6781 16.0416 83.0344 2.37692 128.848-11.7368 169.123 41.3856 216.764 46.7538z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  }

  &__illustration--three {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 445 442'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M245.72 38.5405c49.268-1.2916 96.441-54.7977 140.926-33.56381C429.922 25.6338 439.986 85.75 444.667 133.504c3.971 40.507-28.811 74.29-34.183 114.634-5.46 41 21.866 84.879 2.734 121.542-19.887 38.109-61.004 67.733-103.749 72.028-41.785 4.199-72.546-38.125-112.748-50.275-39.735-12.01-85.912 3.057-120.3264-20.168C38.464 345.666 8.73877 304.776 1.36232 259.591-6.05763 214.139 18.3992 171.16 36.8396 128.965 55.5706 86.1047 66.5573 30.8155 109.46 12.243c43.333-18.75879 89.063 27.5347 136.26 26.2975z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  }

  &__illustration--four {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 517 547'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M402.733 184.368c23.488 41.869 79.974 57.736 96.838 102.6 19.226 51.152 24.962 111.185 1.631 159.377-23.673 48.898-73.253 83.184-125.678 96.851-48.531 12.653-96.435-20.735-146.775-25.821-50.86-5.139-113.529 32.923-149.8857-4.155-37.859-38.61 5.8829-105.518-8.5883-157.462C57.4557 309.744-1.91025 280.512.855451 233.212 3.60731 186.15 53.1158 159.584 83.7823 124.756 117.397 86.5792 141.868 37.2485 189.402 19.0795c51.009-19.497556 117.579-30.8287 161.822 3.4506 45.697 35.4058 23.168 111.3189 51.509 161.8379z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  }

  &__illustration--five {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 481 468'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M370.2 137.768c29.578 39.424 100.515 46.91 108.957 95.474 8.212 47.245-34.978 90.255-71.205 121.72-30.728 26.689-77.253 19.519-113.259 38.496-36.59 19.285-56.547 66.97-97.517 72.596-42.586 5.848-90.546-10.525-118.7947-42.891-27.6148-31.64-10.9153-81.224-24.2833-121.038C40.8851 262.773 1.86633 233.846.878943 192.339-.209334 146.592 15.9212 98.6818 48.4929 66.507 81.2568 34.1425 130.459 29.2009 175.54 19.8073c45.791-9.5415 97.232-32.5933 137.214-8.3649 40.383 24.4713 29.113 88.5596 57.446 126.3256z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
    min-width: 39%;
  }

  &__icon {
    display: flex;
    margin: auto;
    max-width: 65%;
    position: relative;
    width: 100%;
  }

  &__icon--gift {
    padding-left: 40px;
    align-self: flex-start;
  }

  &__icon--organics {
    align-self: flex-start;
  }

  &__info {
    flex-direction: column;
    padding: 0 40px;
  }

  &__num {
    font-size: 70px;
    color: $dark-green;
    margin-bottom: -20px;
    margin-top: 25px;
  }

  &__subtitle {
    font-size: 36px;
    
    @media screen and (min-width: 941px) {
      max-width: 500px;
    }

    @media screen and (max-width: 940px) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 24px;

    @media screen and (max-width: 940px) {
      font-size: 20px;
      margin-top: -20px;
    }
  }
}
