.button {
  align-items: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 0px #0000001A;
  display: flex;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-transform: uppercase;
}
@media screen and (min-width: 941px) {
  .button {
    width: 225px;
  }
}
@media screen and (max-width: 940px) {
  .button {
    min-width: 90%;
  }
}

.button:hover {
  opacity: 0.8;
}

.button--white {
  background-color: #FFFFFF;
  color: #6BA755;
}

.button--green {
  background-color: #6BA755;
  color: white;
  margin-top: 30px;
}
@media screen and (max-width: 860px) {
  .button--green {
    margin-bottom: 40px;
    margin-left: 4%;
  }
}

body, h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: "Rajdhani", sans-serif;
}

body {
  background-color: #ECEFDA;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

h1, h3, h4, h5, h6, p, a {
  color: #2E2C27;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p, a, button {
  font-weight: 500;
}

a, button {
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 24px auto;
  max-width: 1160px;
  position: relative;
  z-index: 5;
  padding: 0 20px;
}
.header__logo {
  width: 150px;
}
@media screen and (max-width: 940px) {
  .header__logo {
    margin: 0 0 0 20px;
  }
}
.header__logo:hover {
  opacity: 0.8;
}
@media screen and (min-width: 711px) {
  .header__text {
    margin-right: 25px;
    font-weight: bold;
  }
}
@media screen and (max-width: 710px) {
  .header__text {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 40px;
    position: relative;
  }
}
@media screen and (min-width: 711px) {
  .header__button {
    visibility: hidden;
  }
}
@media screen and (max-width: 710px) {
  .header__button {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 17'%3E%3Cdefs/%3E%3Cpath fill='%232E2C27' fill-rule='evenodd' d='M0 2.08197C0 1.55154.210714 1.04283.585786.667757.960859.292684 1.46957.0819702 2 .0819702h16c.5304 0 1.0391.2107138 1.4142.5857868.3751.375073.5858.883783.5858 1.414213s-.2107 1.03914-.5858 1.41421c-.3751.37508-.8838.58579-1.4142.58579H2c-.53043 0-1.039141-.21071-1.414214-.58579C.210714 3.12111 0 2.6124 0 2.08197zm0 6c0-.53043.210714-1.03914.585786-1.41421C.960859 6.29268 1.46957 6.08197 2 6.08197h16c.5304 0 1.0391.21071 1.4142.58579.3751.37507.5858.88378.5858 1.41421s-.2107 1.03914-.5858 1.41421c-.3751.37508-.8838.58582-1.4142.58582H2c-.53043 0-1.039141-.21074-1.414214-.58582C.210714 9.12111 0 8.6124 0 8.08197zM0 14.082c0-.5305.210714-1.0392.585786-1.4142C.960859 12.2927 1.46957 12.082 2 12.082h16c.5304 0 1.0391.2107 1.4142.5858.3751.375.5858.8837.5858 1.4142 0 .5304-.2107 1.0391-.5858 1.4142s-.8838.5858-1.4142.5858H2c-.53043 0-1.039141-.2107-1.414214-.5858C.210714 15.1211 0 14.6124 0 14.082z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border: transparent;
    cursor: pointer;
    padding: 13px;
    position: absolute;
    right: 40px;
    top: 12px;
  }
}
.header__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 710px) {
  .header__dropdown {
    background-color: #ecefda;
    box-shadow: 0 10px 4px -6px rgba(202, 180, 180, 0.65);
    height: 160px;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50px;
    visibility: hidden;
  }
}

.hero {
  display: flex;
  position: relative;
  max-width: 1160px;
  padding: 0 20px;
}
@media screen and (min-width: 941px) {
  .hero {
    max-height: 800px;
    margin-top: 160px;
    margin: 160px auto 0;
  }
}
@media screen and (max-width: 940px) {
  .hero {
    height: 800px;
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
}
.hero__desc {
  z-index: 3;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 940px) {
  .hero__desc {
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
}
.hero__title {
  margin-top: 0;
}
@media screen and (min-width: 941px) {
  .hero__title {
    font-size: 70px;
    max-width: 560px;
  }
}
@media screen and (max-width: 940px) {
  .hero__title {
    text-align: center;
    font-size: 55px;
    max-width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    text-align: center;
    font-size: 40px;
    max-width: 90%;
  }
}
.hero__illustration {
  background-image: url("data:image/svg+xml,%3Csvg width='794' height='759' viewBox='0 0 794 759' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M411.841 725.579C270.551 702.82 87.2371 731.468 20.3109 610.583C-46.9454 489.1 77.0906 362.884 146.197 245.758C206.261 143.959 265.569 40.8869 381.012 -0.751949C522.508 -51.7877 688.363 -77.7206 816.71 3.91251C954.974 91.8524 1034.3 252.661 1023.16 407.674C1012.86 550.925 896.285 661.913 764.485 730.453C657.334 786.175 534.26 745.298 411.841 725.579Z' fill='%23B7C99C'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  min-width: 100%;
  right: 0;
}
@media screen and (min-width: 941px) {
  .hero__illustration {
    top: -100px;
    background-size: contain;
    height: 90%;
    background-position: right top;
  }
}
@media screen and (max-width: 940px) {
  .hero__illustration {
    top: 0;
    background-size: cover;
    min-height: 1000px;
  }
}
.hero__icon {
  display: flex;
  max-height: 300px;
  max-width: 500px;
  z-index: 1;
}
@media screen and (min-width: 941px) {
  .hero__icon {
    position: absolute;
    right: 40px;
    top: 15px;
  }
}
@media screen and (max-width: 940px) {
  .hero__icon {
    align-self: flex-end;
    margin: auto;
    position: relative;
  }
}

.how {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  min-height: 200px;
  padding: 0 10px;
  position: relative;
}
@media screen and (min-width: 941px) {
  .how {
    margin: 250px auto 150px;
  }
}
@media screen and (max-width: 940px) {
  .how {
    margin: 150px auto 100px;
  }
}
.how__title {
  font-size: 50px;
  margin: 10px auto 0;
  text-align: center;
}
.how__step {
  display: flex;
  min-height: 400px;
  width: 100%;
}
.how__step--row {
  flex-direction: row;
}
@media screen and (max-width: 940px) {
  .how__step--row {
    flex-direction: column;
  }
}
.how__step--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 940px) {
  .how__step--reverse {
    flex-direction: column;
  }
}
.how__step:first-of-type {
  margin-top: 145px;
}
.how__step:not(:first-of-type) {
  margin-top: 100px;
}
.how__illustration {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  max-width: 450px;
  min-height: 440px;
  width: 100%;
}
@media screen and (max-width: 940px) {
  .how__illustration {
    margin: auto;
  }
}
@media screen and (min-width: 941px) {
  .how__illustration--left {
    margin-right: 110px;
  }
}
@media screen and (min-width: 941px) {
  .how__illustration--right {
    margin-left: 110px;
  }
}
.how__illustration--one {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 446 444'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M217.084 1.70759c41.983 1.75079 83.26 8.13847 119.339 29.68501 38.79 23.1661 73.501 54.2783 91.009 95.9374 18.469 43.944 25.585 95.041 7.852 139.286-17.253 43.045-64.303 62.178-100.309 91.393-38.666 31.376-68.383 90.949-117.891 85.661-50.469-5.39-62.092-76.328-100.917-109.031-34.3957-28.972-95.1469-28.004-111.51083-69.899-16.34367-41.844 19.77823-84.435 34.67563-126.815C53.7717 96.8462 55.7345 47.6095 90.2903 21.1283 125.083-5.53477 173.292-.118626 217.084 1.70759z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.how__illustration--two {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 457 434'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M216.764 46.7538c39.485 4.449 77.333-26.7916 115.648-16.2777 43.685 11.9874 86.861 37.7005 108.086 77.6719 21.536 40.557 20.774 91.815 4.764 134.847-14.822 39.837-60.339 56.476-87.973 88.793-27.92 32.651-32.434 94.834-74.882 101.658-44.201 7.107-68.211-56.242-110.142-71.911-37.145-13.881-85.3759 12.744-115.8902-12.556-30.3617-25.174-24.4373-72.565-33.137-111.005-9.5362-42.135-30.97944-83.458-20.35152-125.332C14.2913 67.7066 38.6781 16.0416 83.0344 2.37692 128.848-11.7368 169.123 41.3856 216.764 46.7538z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.how__illustration--three {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 445 442'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M245.72 38.5405c49.268-1.2916 96.441-54.7977 140.926-33.56381C429.922 25.6338 439.986 85.75 444.667 133.504c3.971 40.507-28.811 74.29-34.183 114.634-5.46 41 21.866 84.879 2.734 121.542-19.887 38.109-61.004 67.733-103.749 72.028-41.785 4.199-72.546-38.125-112.748-50.275-39.735-12.01-85.912 3.057-120.3264-20.168C38.464 345.666 8.73877 304.776 1.36232 259.591-6.05763 214.139 18.3992 171.16 36.8396 128.965 55.5706 86.1047 66.5573 30.8155 109.46 12.243c43.333-18.75879 89.063 27.5347 136.26 26.2975z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.how__illustration--four {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 517 547'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M402.733 184.368c23.488 41.869 79.974 57.736 96.838 102.6 19.226 51.152 24.962 111.185 1.631 159.377-23.673 48.898-73.253 83.184-125.678 96.851-48.531 12.653-96.435-20.735-146.775-25.821-50.86-5.139-113.529 32.923-149.8857-4.155-37.859-38.61 5.8829-105.518-8.5883-157.462C57.4557 309.744-1.91025 280.512.855451 233.212 3.60731 186.15 53.1158 159.584 83.7823 124.756 117.397 86.5792 141.868 37.2485 189.402 19.0795c51.009-19.497556 117.579-30.8287 161.822 3.4506 45.697 35.4058 23.168 111.3189 51.509 161.8379z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.how__illustration--five {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 481 468'%3E%3Cdefs/%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M370.2 137.768c29.578 39.424 100.515 46.91 108.957 95.474 8.212 47.245-34.978 90.255-71.205 121.72-30.728 26.689-77.253 19.519-113.259 38.496-36.59 19.285-56.547 66.97-97.517 72.596-42.586 5.848-90.546-10.525-118.7947-42.891-27.6148-31.64-10.9153-81.224-24.2833-121.038C40.8851 262.773 1.86633 233.846.878943 192.339-.209334 146.592 15.9212 98.6818 48.4929 66.507 81.2568 34.1425 130.459 29.2009 175.54 19.8073c45.791-9.5415 97.232-32.5933 137.214-8.3649 40.383 24.4713 29.113 88.5596 57.446 126.3256z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  min-width: 39%;
}
.how__icon {
  display: flex;
  margin: auto;
  max-width: 65%;
  position: relative;
}
.how__icon--gift {
  padding-left: 40px;
  align-self: flex-start;
}
.how__icon--organics {
  align-self: flex-start;
}
.how__info {
  flex-direction: column;
  padding: 0 40px;
}
.how__num {
  font-size: 70px;
  color: #6BA755;
  margin-bottom: -20px;
}
.how__subtitle {
  font-size: 36px;
}
@media screen and (min-width: 941px) {
  .how__subtitle {
    max-width: 500px;
  }
}
@media screen and (max-width: 940px) {
  .how__subtitle {
    font-size: 40px;
  }
}
.how__text {
  font-size: 24px;
}
@media screen and (max-width: 940px) {
  .how__text {
    font-size: 20px;
    margin-top: -20px;
  }
}

.box {
  display: flex;
  position: relative;
}
@media screen and (min-width: 791px) {
  .box {
    justify-content: space-between;
  }
}
@media screen and (max-width: 790px) {
  .box {
    flex-direction: column;
  }
}
.box__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  min-width: 50%;
}
.box__container--can {
  background-color: #FFFFFF;
}
.box__container--cant {
  background-color: #B7C99C;
}
@media screen and (min-width: 791px) {
  .box__title {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 790px) {
  .box__title {
    font-size: 40px;
    padding-top: 40px;
  }
}
.box__subtitle {
  font-size: 24px;
}
@media screen and (min-width: 791px) {
  .box__subtitle {
    margin-top: 0;
  }
}
@media screen and (max-width: 790px) {
  .box__subtitle {
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }
}
.box__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 530px;
}
@media screen and (min-width: 901px) {
  .box__row {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .box__row {
    width: 90%;
  }
}
.box__grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}
.box__icon {
  height: 55px;
  width: 65px;
}
.box__text {
  display: flex;
  text-align: center;
  height: 60px;
  font-size: 16px;
}
@media screen and (min-width: 611px) {
  .box__text {
    max-width: 100px;
  }
}
@media screen and (max-width: 610px) {
  .box__text {
    max-width: 50px;
  }
}
.box__icon:not(:first-of-type) {
  margin-top: 20px;
}

.clients {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  min-height: 400px;
  position: relative;
}
@media screen and (min-width: 901px) {
  .clients {
    margin: 130px auto;
  }
}
@media screen and (max-width: 900px) {
  .clients {
    margin: 30px auto;
  }
}
.clients__title {
  margin-bottom: 0;
}
@media screen and (min-width: 901px) {
  .clients__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .clients__title {
    font-size: 30px;
  }
}
.clients__subtitle {
  font-weight: 500;
}
@media screen and (min-width: 901px) {
  .clients__subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 900px) {
  .clients__subtitle {
    font-size: 20px;
  }
}
.clients__container {
  display: flex;
}
@media screen and (min-width: 791px) {
  .clients__container {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    width: 95%;
  }
}
@media screen and (max-width: 790px) {
  .clients__container {
    flex-direction: column;
  }
}
.clients__logo {
  transition: 0.5s;
}
@media screen and (min-width: 791px) {
  .clients__logo {
    width: 90%;
  }
}
@media screen and (max-width: 790px) {
  .clients__logo {
    align-self: center;
    margin: 30px 0;
    width: 100%;
  }
}
.clients__logo:hover {
  opacity: 0.75;
}

.footer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 50px;
  width: 100%;
}
.footer__content {
  align-self: center;
  display: flex;
  max-width: 1160px;
}
@media screen and (min-width: 861px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}
@media screen and (max-width: 860px) {
  .footer__content {
    flex-direction: column;
    width: 80%;
  }
}
.footer__grid {
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 861px) {
  .footer__grid {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 860px) {
  .footer__grid {
    align-self: center;
  }
}
@media screen and (min-width: 861px) {
  .footer__grid--left {
    align-self: flex-start;
  }
}
@media screen and (min-width: 861px) {
  .footer__title {
    text-align: left;
    font-size: 50px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 860px) {
  .footer__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.footer__subtitle {
  font-weight: 500;
  margin-top: 10px;
}
@media screen and (min-width: 861px) {
  .footer__subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 860px) {
  .footer__subtitle {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 861px) {
  .footer__grid--right {
    align-self: flex-end;
    display: flex;
  }
}
.footer__item {
  align-items: center;
  display: flex;
  text-decoration: underline;
}
@media screen and (min-width: 861px) {
  .footer__item {
    flex-direction: row;
  }
}
@media screen and (max-width: 860px) {
  .footer__item {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.footer__item:hover {
  text-decoration: none;
  opacity: 0.75;
}
.footer__icon {
  height: 25px;
  margin: 15px 35px;
  width: 25px;
}
@media screen and (min-width: 861px) {
  .footer__link {
    font-size: 24px;
  }
}
@media screen and (max-width: 860px) {
  .footer__link {
    font-size: 20px;
  }
}
.footer__illustration {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 444'%3E%3Cpath fill='%23B7C99C' fill-rule='evenodd' d='M1079 .5c170 0 241.46 34.756 330.5 60.5 91.77 26.533 102.82 14.12 136 68 33.98 55.183 70.62 83.477 49 140.5-16.62 43.838-92.18 69.213-109.24 113-23.98 61.514-22.43 61.559-116.85 97.325-91.85 34.794-219.51 49.564-330.58 43.304-98.092-5.529-196.893 5.96-289.988-11.865C643.242 491.236 47.02 513.646-20.5 465.5c-71.224-50.787-34.655-304.326 0-365.5C15.954 35.65 368 147.5 462 129c62.5-14.5 315.5-24 370.5-60.5 74-41 150-67 246.5-68z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-size: cover;
  display: flex;
  margin-top: 50px;
  max-height: 500px;
  position: relative;
  width: 100%;
}
.footer__image {
  width: 100%;
  margin: 0 25px 20px;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=/styles.5c32a3d8.css.map */