doctype html 
html(lang='pt_BR')
  include ./templates/head.pug
  body
    include ./templates/_header.pug
    include ./templates/_hero.pug
    include ./assets/icons.svg
  script(src='./index.js' defer)
